Repository ossf/wg-best-practices-os-developers, pull requests merged in 2023-08, with the labels that each got.

#187 Consistently reword 'Supported by' in tables to 'Supported since'
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#188 Compiler guide: adding minimal infos to empty readme
  docs/Compiler-Hardening-Guides/README.md
Labels: Product: Compiler Hardening Guide

#144 Mark options with performance impact in recommended options table
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#209 Compiler Guide: fix rendering of footnotes
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#212 Create SecureSoftwareGuidingPrinciples.md
  docs/SecureSoftwareGuidingPrinciples.md
Labels: next-meeting

#211 Compiler Guide: Fixing multi-line footnotes
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#218 Change "Server" to "Enterprise"
  docs/SCM-BestPractices/README.md
  docs/SCM-BestPractices/github/README.md
  docs/SCM-BestPractices/gitlab/README.md
Labels: Product: SCM Guide

#216 Reword hardening guide text about "outdated"
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#224 Update compiler guide contributors
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide
