Repository ossf/wg-best-practices-os-developers, pull requests merged in 2024-11, with the labels that each got.

#690 pySCG adding missing CVEs for 755 and 532
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#489 Add secret scanning to SCM guide, fixes #488
  docs/SCM-BestPractices/README.md
  docs/SCM-BestPractices/github/repository/secret_scanning.md
  docs/SCM-BestPractices/gitlab/project/secret_scanning.md
Labels: Product: SCM Guide, Enhancement

#691 pySCG: adding missing CVEs to CWE 180, 501, 502, 843
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#689 pySCG adding CWE-78 code and doc
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/noncompliant02.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#585 Note that rulesets can also enforce review
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides

#687 pySCG: Adding documentation to CWE-175 as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/example02.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/example03.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/noncompliant02.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide
