Repository ossf/wg-best-practices-os-developers, pull requests merged in 2024-12, with the labels that each got.

#560 Provide recommendation to counter xz utils style attack
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides

#692 pySCG: adding prominent CVE for CWE-78 to main readme
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/README.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#688 Clarify compiler versions for `__fallthrough__` attribute and feature testing via `__has_attribute`.
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#524 Add invitation to open issues
  docs/Correctly-Using-Regular-Expressions.md
Labels: Product: Regular Expression Guide

#523 Add invitation to open issues
  docs/Correctly-Using-Regular-Expressions-Rationale.md
Labels: Product: Regular Expression Guide
