Repository ossf/wg-best-practices-os-developers, pull requests merged in 2024-08, with the labels that each got.

#569 Add missing word in README.md
  docs/labs/README.md
Labels: Admin

#566 PyDoc2GitHub CWE-426
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-426/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-426/compliant01.bash
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-426/example01.bash
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-426/noncompliant01.bash
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#553 Add `-fvtable-verify` to list of considered options
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide, Enhancement

#572 Demote -fhardened subsection to correct level
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#549 Contribute scraper script for compiler options hardening guide…
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
  docs/Compiler-Hardening-Guides/README.md
  docs/Compiler-Hardening-Guides/compiler-options-scraper/.gitignore
  docs/Compiler-Hardening-Guides/compiler-options-scraper/README.md
  docs/Compiler-Hardening-Guides/compiler-options-scraper/main.py
  docs/Compiler-Hardening-Guides/compiler-options-scraper/requirements.txt
Labels: Product: Compiler Hardening Guide, Enhancement

#573 Doc2GitHub CWE-665
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-665/README.md
Labels: Product: Python Hardening Guide

#571 Add -Wl,--as-needed and -Wl, --no-copy-dt-needed-entries to C and C++ Compiler Hardening Guide
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide, Enhancement

#590 Refer to 'RIP-relative addressing' in position-independent code description
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide
