Repository ossf/wg-best-practices-os-developers, pull requests merged in 2024-05, with the labels that each got.

#474 Use consistent wording for options treating obsolete C constructs as errors
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#467 Make 'What should you do when compiling compilers?' a top-level section
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#473 Add -Werror=format-security to list of recommended options
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide, Enhancement

#477 Adjust description of fallthrough macro to accurately describe guide vs. kernel version
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#479 Bump date for Compiler Options Hardening Guide for C and C++
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#507 Standardize versions in the "supported since" columns to improve machine readability
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#508 Delete docs/SCM-BestPractices/best-practices.yml
  docs/SCM-BestPractices/best-practices.yml
Labels: Product: SCM Guide
