Repository ossf/wg-best-practices-os-developers, pull requests merged in 2024-10, with the labels that each got.

#633 Adding documentation to CWE-681 as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-681/README.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#625 feat: add new argument injection lab
  docs/labs/shell-argument-injection.html
Labels: Product: Fundamentals

#634 Moving CWE-390 code example to GitHub as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/noncompliant02.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#622 Add note on `PT_GNU_STACK` on 32-bit x86
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#640 Add note on enabling RELRO for library dependencies
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#626 Compiler-Options-Hardening-Guide-for-C-and-C++.md: describe linker co…
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#642 Bump date for Compiler Options Hardening Guide for C and C++
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#618 add sending output format strings lab with python string format
  docs/labs/format-strings.html
Labels: Product: Fundamentals

#627 Add insecure deserialization lab
  docs/labs/insecure-deserialization.html
Labels: Product: Fundamentals

#663 Compiler-Options-Hardening-Guide-for-C-and-C++.md: fix '-fexceptions'…
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#664 Compiler-Options-Hardening-Guide-for-C-and-C++.md: fix minimum Clang …
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#670 Discourage use of sanitizers for SUID binaries
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#606 Add link to additional source code platform management configuration guidance focused on collaboration
  docs/SCM-BestPractices/README.md
Labels: Product: SCM Guide

#647 CWE-755 and CWE-532
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/noncompliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/noncompliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-755/noncompliant03.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#669 pySCG: template for contributing to the project
  docs/Secure-Coding-Guide-for-Python/contribution/README_TEMPLATE.md
Labels: Product: Python Hardening Guide

#675 Add to background more on *why* C and C++ will keep existing
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#681 Fix fallthrough example macro to work with very old gcc versions
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#683 Retire CLANG_DEFAULT_PIE_ON_LINUX in favor of Clang configuration files
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#682 Add Jekyll-generated site, metadata, and cache to gitignore
  .gitignore
Labels: nice-to-have

#686 Bump date for Compiler Options Hardening Guide for C and C++
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide
