Repository ossf/wg-best-practices-os-developers, pull requests merged in 2025-09, with the labels that each got.

#976 Clarify that ASan can be used with LeakSan
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#975 Add detailed description of tainted_args to Compiler Annotations Guide
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#979 Various improvements to Annotations Guide presentation
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#968 Adding the Security Focused Guide for AI Assistants to WG released work
  README.md
  docs/index.md
Labels: Product: AI Code Assistant Instructions Guide

#985 CWE-472: External Control of Assumed-Immutable Web Parameter
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-472/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-472/example01.py
Labels: Product: Python Hardening Guide

#973 adding 460 to main table, fixing cosmetics and formatting
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-460/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-460/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-460/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-460/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#991 CWE-366: Race Condition within a Thread
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-366/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-366/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-366/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-366/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/Intro_to_multiprocessing_and_multithreading/readme.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#993 pySCG: adding 783 as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-783/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-783/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-783/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-783/example02.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-783/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#996 pySCG: adding 117 as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-117/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-117/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-117/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide
