Repository ossf/wg-best-practices-os-developers, pull requests merged in 2025-03, with the labels that each got.

#797 pySCG contrib guide
  docs/Secure-Coding-Guide-for-Python/CONTRIBUTING.md
  docs/Secure-Coding-Guide-for-Python/readme.md
  docs/Secure-Coding-Guide-for-Python/templates/README_TEMPLATE.md
Labels: helpwanted, Product: Python Hardening Guide

#702 Add xref to sbom-catalog.openssf.org.
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides

#817 Mark Compiler Annotations Guide as draft document
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#821 Reorg front of Compiler Options Hardening Guide for clarity
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#822 Add a citation that hardening options actually work
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#825 Make draft in Compiler Annotations Guide notice consistent with Secure Coding Guide for Python
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#823 Add citation of survey of C/C++ hardening flags
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#828 Add missing closing parenthesis
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#815 pySCG: Adding documentation to CWE-362 as part of #531
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-362/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-362/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-691/CWE-362/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#837 Add clarifications on AArch64 PAC and BTI
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#840 Bump date for Compiler Options Hardening Guide for C and C++
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#805 CWE-390: Detection of Error Condition without Action
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/REAME.md
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/example01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/noncompliant02.py
Labels: Product: Python Hardening Guide

#827 Release of The Memory Safety Continuum
  docs/index.md
Labels: Product: Memory Safety Continuum
