Repository ossf/wg-best-practices-os-developers, pull requests merged in 2025-04, with the labels that each got.

#845 pySCG README filename typo fix CWE-390
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/README.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide, bug

#843 Typo and misc fixes
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#848 Fixes issue #839
  docs/Secure-Coding-Guide-for-Python/CONTRIBUTING.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-134/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-681/01/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1335/01/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-78/README.md
  docs/Secure-Coding-Guide-for-Python/readme.md
  docs/Secure-Coding-Guide-for-Python/templates/README_TEMPLATE.md
  docs/Secure-Coding-Guide-for-Python/templates/compliant01.py
  docs/Secure-Coding-Guide-for-Python/templates/example01.py
  docs/Secure-Coding-Guide-for-Python/templates/noncompliant01.py
Labels: Product: Python Hardening Guide

#844 CWE-778 Insufficient Logging, updating Readme and code files.
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-778/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-778/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-778/noncompliant01.py
Labels: Product: Python Hardening Guide

#858 pySCG: adding 778 to main readme.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#794 Improve malloc and alloc_size annotations descriptions
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#855 ja_input2.html: Translate labs/input2 into Japanese
  docs/labs/input2.js
  docs/labs/ja_input2.html
Labels: Product: Labs, Japanese

#847 pySCG adding CWE-182
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-182/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-182/example01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#832 docs: restructure concise evaluating guide, add terminology list
  docs/Concise-Guide-for-Evaluating-Open-Source-Software.md
Labels: Product: Concise Guides

#854 Suggest consulting other guides. Fixes #852
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides
