Repository ossf/wg-best-practices-os-developers, pull requests merged in 2025-06, with the labels that each got.

#911 Add Japanese translation for labs/ja_deserialization
  docs/labs/deserialization.js
  docs/labs/ja_deserialization.html
Labels: Japanese

#916 Fix the incorrect Clang version for -fcf-protection=check
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#917 Fix other considerations heading level in `-ftrapv` description
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#920 Add missing synopsis subheadings
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#881 Add detailed description of GCC access attributes to Compiler Annotations Guide
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
Labels: Product: Compiler Annotations Guide

#893 adding CWE-459
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-459/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-459/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-459/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-459/noncompliant02.py
Labels: Product: Python Hardening Guide

#876 Fix typos
  README.md
  docs/Compiler-Hardening-Guides/Compiler-Annotations-for-C-and-C++.md
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
  docs/Compiler-Hardening-Guides/README.md
  docs/Correctly-Using-Regular-Expressions-Rationale.md
  docs/Correctly-Using-Regular-Expressions.md
  docs/Existing Guidelines for Developing and Distributing Secure Software.md
  docs/SCM-BestPractices/README.md
  docs/SCM-BestPractices/github/enterprise/enterprise_allows_creating_public_repos.md
  docs/SCM-BestPractices/github/enterprise/enterprise_not_using_visibility_change_disable_policy.md
  docs/SCM-BestPractices/github/organization/organization_not_using_single_sign_on.md
  docs/SCM-BestPractices/github/repository/no_conversation_resolution.md
  docs/SCM-BestPractices/github/repository/repository_has_too_many_admins.md
  docs/SCM-BestPractices/github/repository/repository_webhook_doesnt_require_ssl.md
  docs/SCM-BestPractices/gitlab/README.md
  docs/SCM-BestPractices/gitlab/group/organization_webhook_doesnt_require_ssl.md
  docs/SCM-BestPractices/gitlab/member/stale_admin_found.md
  docs/SCM-BestPractices/gitlab/member/two_factor_authentication_is_disabled_for_a_collaborator.md
  docs/SCM-BestPractices/gitlab/member/two_factor_authentication_is_disabled_for_an_external_collaborator.md
  docs/SCM-BestPractices/gitlab/project/forking_allowed_for_repository.md
  docs/SCM-BestPractices/gitlab/project/no_conversation_resolution.md
  docs/SCM-BestPractices/gitlab/project/project_has_too_many_admins.md
  docs/SCM-BestPractices/gitlab/project/project_webhook_doesnt_require_ssl.md
  docs/Secure-Coding-Guide-for-Python/CONTRIBUTING.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-197/01/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-502/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-532/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-833/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-833/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-664/CWE-833/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1339/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-191/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-330/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-798/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-798/noncompliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-697/CWE-595/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-697/CWE-595/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-390/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-175/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-707/CWE-89/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-710/CWE-489/README.md
  docs/Vendored-Dependencies-Guide.md
  docs/assets/css/style.scss
  docs/developers.md
  docs/labs/csp1.js
  docs/labs/ja_csp1.html
  docs/labs/ja_input2.html
  docs/labs/ja_oob1.html
  docs/labs/oob1.html
  docs/labs/sql-injection.html
  docs/labs/src/d1_both.c
  docs/labs/xss.js
  meeting-minutes.md
Labels: Product: SCM Guide, Product: Compiler Hardening Guide, Product: Python Hardening Guide, Product: Labs, Product: Compiler Annotations Guide
