Repository ossf/wg-best-practices-os-developers, pull requests merged in 2025-01, with the labels that each got.

#697 CWE 1339
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1339/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1339/compliant01.py
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1339/compliant02.py
  docs/Secure-Coding-Guide-for-Python/CWE-682/CWE-1339/noncompliant01.py
Labels: Product: Python Hardening Guide

#698 CWE-330: Use of Insufficiently Random Values Documentation
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-330/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-693/CWE-330/compliant01.py
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#717 pySCG: Adding documentation to CWE-489
  docs/Secure-Coding-Guide-for-Python/CWE-710/CWE-489/README.md
  docs/Secure-Coding-Guide-for-Python/readme.md
Labels: Product: Python Hardening Guide

#706 Clarify compiler options hardening limitations when linking to pre-built artifacts
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#694 Improve -fno-strict-overflow description
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#725 Add `-fsplit-stack` to considered compiler options
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#726 Bump date for Compiler Options Hardening Guide for C and C++
  docs/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.md
Labels: Product: Compiler Hardening Guide

#716 Fix typo in return value from README (fixes #652)
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-392/README.md
  docs/Secure-Coding-Guide-for-Python/CWE-703/CWE-392/compliant03.py
Labels: Product: Python Hardening Guide

#700 Add a missing parenthesis
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides

#701 Add cross-link from concise guide to C/C++ compiler options
  docs/Concise-Guide-for-Developing-More-Secure-Software.md
Labels: Product: Concise Guides

#699 Add cross-reference to Java regex rationale. Fixes #548
  docs/Correctly-Using-Regular-Expressions.md
Labels: Product: Regular Expression Guide
